@import "variables";
@import "mixins";

.c-burger-check-box {
  display: flex;
  align-items: center;

  [class*="lozenge"] {
	margin-left: auto;
  }

  &__label-text {
	display: inline-block;
	position: relative;
	top: 2px;
  }
}
